import all the library I needed in this experiment

In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

Read the dataset

In [2]:
df = pd.read_csv('Data-3.csv')
df.head()

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
0,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
1,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2008,5.43,5.43%,65240,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
2,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2007,5.61,5.61%,61080,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
3,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2006,5.40,5.4%,55270,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
4,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2005,5.00,5%,51970,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN

Drop some of the column that i think we do not need to use in this experiment.

### Checking number of records in each area type

In [6]:
df.groupby('country')['country'].agg('count')

country
Afghanistan        29
Africa              1
Algeria             1
Angola            693
Argentina           3
                 ...
Viet Nam           15
Western Africa      4
Western Asia        5
Zambia            728
Zimbabwe          472
Name: country, Length: 149, dtype: int64

In [7]:
df.groupby('commodity')['commodity'].agg('count')

commodity
Almonds, in shell                                                              15
Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw      28
Apple juice                                                                    19
Apples                                                                        152
Apricots                                                                       58
                                                                             ...
Wheat                                                                        2052
Wheat and meslin flour                                                         50
Wine                                                                            1
Yams                                                                           46
Yautia                                                                         25
Name: commodity, Length: 195, dtype: int64

In [8]:
df.groupby('year')['year'].agg('count')

year
2000    1236
2001    1408
2002    1326
2003    1271
2004    1205
2005    1250
2006    1647
2007    1187
2008    1380
2009    1607
2010    1496
2011    1310
2012    1170
2013    1433
2014    1843
2015    1284
2016    1514
2017    1221
2018    1184
2019     913
2020     862
2021      26
Name: year, dtype: int64

Droping some colums which will not use for this model.

In [4]:
d2 = df.drop(['loss_percentage_original','activity','treatment','cause_of_loss','sample_size','url','notes'],axis='columns')
d2.head()

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_quantity,food_supply_stage,method_data_collection,reference
0,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2009,5.22,68100,Whole supply chain,FAO's annual Agriculture Production Questionna...,FAO Sources
1,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2008,5.43,65240,Whole supply chain,FAO's annual Agriculture Production Questionna...,FAO Sources
2,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2007,5.61,61080,Whole supply chain,FAO's annual Agriculture Production Questionna...,FAO Sources
3,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2006,5.40,55270,Whole supply chain,FAO's annual Agriculture Production Questionna...,FAO Sources
4,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2005,5.00,51970,Whole supply chain,FAO's annual Agriculture Production Questionna...,FAO Sources

In [4]:
df = d2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27773 entries, 0 to 27772
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   m49_code                27773 non-null  int64
 1   country                 27773 non-null  object
 2   region                  871 non-null    object
 3   cpc_code                27773 non-null  object
 4   commodity               27773 non-null  object
 5   year                    27773 non-null  int64
 6   loss_percentage         27773 non-null  float64
 7   loss_quantity           4552 non-null   object
 8   food_supply_stage       27724 non-null  object
 9   method_data_collection  27418 non-null  object
 10  reference               8436 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 2.3+ MB

In [5]:
df.isna().sum()

m49_code                      0
country                       0
region                    26902
cpc_code                      0
commodity                     0
year                          0
loss_percentage               0
loss_quantity             23221
food_supply_stage            49
method_data_collection      355
reference                 19337
dtype: int64

In [6]:
df=df.dropna()
df.isnull().sum()

m49_code                  0
country                   0
region                    0
cpc_code                  0
commodity                 0
year                      0
loss_percentage           0
loss_quantity             0
food_supply_stage         0
method_data_collection    0
reference                 0
dtype: int64

In [7]:
df.head()

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_quantity,food_supply_stage,method_data_collection,reference
13978,50,Bangladesh,Rangpur,0111,Wheat,2010,21.70,0.51kg/quintal,Farm,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13979,50,Bangladesh,Rangpur,0111,Wheat,2010,13.62,0.32kg/quintal,Farm,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13982,50,Bangladesh,Rangpur,0111,Wheat,2010,13.62,0.32kg/quintal,Farm,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13983,50,Bangladesh,Rangpur,0111,Wheat,2010,40.85,0.96kg/quintal,Harvest,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13984,50,Bangladesh,Rangpur,0111,Wheat,2010,5.53,0.13kg/quintal,Transport,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...

In [8]:
X = df.drop(['loss_percentage'],axis='columns')

In [9]:
X.head()

,m49_code,country,region,cpc_code,commodity,year,loss_quantity,food_supply_stage,method_data_collection,reference
13978,50,Bangladesh,Rangpur,0111,Wheat,2010,0.51kg/quintal,Farm,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13979,50,Bangladesh,Rangpur,0111,Wheat,2010,0.32kg/quintal,Farm,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13982,50,Bangladesh,Rangpur,0111,Wheat,2010,0.32kg/quintal,Farm,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13983,50,Bangladesh,Rangpur,0111,Wheat,2010,0.96kg/quintal,Harvest,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...
13984,50,Bangladesh,Rangpur,0111,Wheat,2010,0.13kg/quintal,Transport,Survey,Esmat Ara Begum et al. / IJAR-BAE (July 2012) ...

In [10]:
y = df.loss_percentage

In [11]:
y.head()

13978    21.70
13979    13.62
13982    13.62
13983    40.85
13984     5.53
Name: loss_percentage, dtype: float64

In [14]:
print(df.dtypes)

m49_code                    int64
country                    object
region                     object
cpc_code                   object
commodity                  object
year                        int64
loss_percentage           float64
loss_quantity              object
food_supply_stage          object
method_data_collection     object
reference                  object
dtype: object

In [12]:
# Encode labels of independent variable columns
cols = ['m49_code','country', 'region', 'cpc_code', 'commodity','year', 'loss_quantity', 'food_supply_stage', 'method_data_collection', 'reference']
X[cols] = X[cols].apply(LabelEncoder().fit_transform)

In [16]:
model.score(X_test, y_test)

0.659729040465403

In [17]:
y_pred = model.predict(X_test)

In [19]:
import sklearn.metrics as metrics

In [20]:
mean_absolute_error=metrics.mean_absolute_error(y_test,y_pred)

In [21]:
print('Mae (Mean absolute error): %s' %mean_absolute_error)

Mae (Mean absolute error): 2.555060000000001

In [19]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

# Load the data
df = pd.read_csv('Data-3.csv')

# Drop irrelevant columns
X = df.drop(['loss_percentage', 'loss_percentage_original', 'activity', 'treatment', 'cause_of_loss', 'sample_size', 'url', 'notes'], axis='columns')
y = df['loss_percentage']

# Drop rows with missing values
X = X.dropna()
y = y.loc[X.index]

# Encode categorical variables using LabelEncoder
categorical_cols = ['m49_code', 'country', 'region', 'cpc_code', 'commodity', 'year', 'loss_quantity', 'food_supply_stage', 'method_data_collection', 'reference']
label_encoders = {}
for col in categorical_cols:
    label_encoders[col] = LabelEncoder()
    X[col] = label_encoders[col].fit_transform(X[col])

# Train a Random Forest Regressor on the entire dataset
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X, y)

# Make predictions on new data
X_new = pd.DataFrame({
    'm49_code': label_encoders['m49_code'],
    'country': label_encoders['country'],
    'region': label_encoders['region'],
    'cpc_code': label_encoders['cpc_code'],
    'commodity': label_encoders['commodity'],
    'year': label_encoders['year'],
    'loss_quantity': label_encoders['loss_quantity'],
    'food_supply_stage': label_encoders['food_supply_stage'],
    'method_data_collection': label_encoders['method_data_collection'],
    'reference': label_encoders['reference']
})

# Handle previously unseen labels
for col in categorical_cols:
    le = label_encoders[col]
    labels = set(le.classes_)
    X_new_col = set(X_new[col])
    diff = X_new_col - labels
    if diff:
        print(f"Unseen labels in {col}: {diff}")
        new_labels = list(diff)
        le.classes_ = np.append(le.classes_, new_labels)
        X_new[col] = le.transform(X_new[col])

y_pred = rf.predict(X_new)
print(y_pred)

ValueError: If using all scalar values, you must pass an index